.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: rgba(21, 173, 98, 0.8);
  width: 80%;
  margin: 0 auto;
  box-shadow: 10px 10px 46px 0px rgba(15, 140, 79, 1);
}

.dashboard-title {
  text-align: center;
}

.statement {
  text-align: center;
}

.learn-btn {
  display: block;
  border: 1px solid #353831;
  border-radius: 3px;
  padding: 10px 15px;
  background-color: #353831;
  color: #20fc8f;
  text-align: center;
  margin: 0 auto;
  width: 40%;
}

.learn-btn:focus, .learn-btn:hover  {
  background-color: #20fc8f;
  color: #353831;
  border: 1px solid #353831;
  box-shadow: 10px 10px 46px 0px rgba(53, 56, 49, 1);
}